aiohttp==3.4.4
alembic==1.0.1
async-timeout==3.0.1
attrs==18.2.0
banal==0.3.8
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
dataset==1.1.0
idna==2.7
idna-ssl==1.1.0
kiwisolver==1.0.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.0.0
multidict==4.4.2
normality==0.6.1
numpy==1.15.2
oauthlib==2.1.0
pkg-resources==0.0.0
pyparsing==2.2.2
PySocks==1.6.8
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.19.1
requests-oauthlib==1.0.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.12
tweepy==3.6.0
urllib3==1.23
yarl==1.2.6
